---
layout: default
---

{% if page.slot %}
  <small>
    {{ page.slot | date: '%-I:%M%P' }}
    {% if page.duration %}
      {% assign slot_ends = page.slot | add_minutes: page.duration %}
      - {{ slot_ends | date: '%-I:%M%P' }}
    {% endif %}
    on {{ page.slot | date: '%A, %B %-d' }}
    {% if page.room %}
      in {{ page.room }}
    {% endif %}
  </small>
{% endif %}

<h4>
  {% for speaker in page.speakers %}
    {% assign s = site.speakers | where: 'name', speaker | first %}
    <a href="{{ s.url }}">{{ s.name }}</a>{% if forloop.last == false %}, {% endif %}
  {% endfor %}
</h4>

<dl>
  {% if page.level %}
    <dt>Audience Level:</dt>
    <dd>{{ page.level }}</dd>
  {% endif %}

  {% if page.presentation_url %}
    <dt>Slides:</dt>
    <dd><a href="{{ page.presentation_url }}">{{ page.presentation_url }}</a></dd>
  {% endif %}

  {% if page.video_url %}
    <dt>Watch:</dt>
    <dd><a href="{{ page.video_url }}">{{ page.video_url }}</a></dd>
  {% endif %}
</dl>

{% if page.type == 'talk' %}
  <h3>Overview</h3>
  {{ page.abstract | markdownify }}

  <h3>Description</h3>
  {{ content }}
{% else %}
  {{ page.abstract | markdownify }}
{% endif %}
